<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/index.css">
  <link rel="alternate" title="{{ site.title }}" type="application/rss+xml" href="{{ "/feed.xml" | url }}">
  <link rel="alternate" title="{{ site.title }}" type="application/json" href="{{ "/feed.json" | url }}" />
</head>
<body class="font-sans antialiased bg-gray-100">
{{ content | safe }}
</body>
</html>
