<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/base.css">
  <link rel="stylesheet" href="/assets/blog.css">
</head>
<body>
  <article>
    <h1>{{ title }}</h1>
    {{ content | safe }}
    <footer>
      <time datetime={{ page.date | pageDateTime }}>{{ page.date | pageDate }}</time>
      <a href="/" rel="author">LZL</a>
    </footer>
  </article>
</body>
</html>
