---
layout: base
css: blog
---
<article>
  <header>
    <h1>{{ title }}</h1>
  </header>
  {{ content | safe }}
  <footer>
    <time datetime={{ page.date | pageDateTime }}>{{ page.date | pageDate }}</time>
    <a href="/" rel="author">{{ site.author.name }}</a>
  </footer>
</article>
