---
layout: base
---
<main class="max-w-xl mx-auto sm:mt-10">
  <section class="rounded-lg sm:shadow-lg">
    <img class="w-full rounded-t-lg" src="/assets/primitive.jpg" alt="avatar" />
    <article class="p-5 sm:p-10">
      <h1 class="text-4xl font-semibold leading-none text-gray-800">LZL</h1>
      <p class="mt-4 text-lg text-gray-800">He built lots of websites and apps. And he love it.</p>
    </article>
  </section>
</main>
