---
layout: base
---
<main class="max-w-xl mx-auto sm:my-10">
  <section class="rounded-lg sm:shadow-lg">
    <img class="w-full rounded-t-lg" src="/assets/primitive.jpg" alt="avatar" />
    <article class="p-5 sm:p-10">
      <h1 class="text-4xl font-semibold leading-none text-gray-800">LZL</h1>
      <p class="mt-4 text-lg text-gray-800">He built lots of websites and apps. He's Just Lovin' It.</p>
      <p class="mt-4 text-lg text-gray-800">Now, <a class="border-b hover:border-gray-800" href="https://yolk.link/">Yolk Link</a> (a video meeting web app) is the top idea in his mind.</p>
    </article>
  </section>
</main>
