<form name="email" netlify>
  <label>Name <input type="text" name="name" /></label>
  <label>Email <input type="email" name="email" /></label>
  <button type="submit" style="font-size: 1rem;">Send</button>
</form>
