:root {
	--type-base: 18px;
	--width-base: 500px;
	--color-text: #333;
	--color-background: #fff;
	--color-link: #0074d9;
}
@media (min-width: 50em) {
	:root {
		--type-base: 24px;
		--width-base: 600px;
	}
}
@media (min-width: 100em) {
	:root {
		--type-base: 27px;
		--width-base: 700px;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ddd;
		--color-background: #333;
		--color-link: #8ab4f8;
	}
	img {
		filter: grayscale(30%);
	}
}
html {
	font-size: var(--type-base);
}
body {
	margin: 1rem;
	font-family: menlo, tahoma, 'Hiragino Sans GB', 'STHeiti', 'WenQuanYi Micro Hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53,
		simsun, sans-serif;
	font-size: 1rem;
	color: var(--color-text);
	background-color: var(--color-background);
	line-height: 1.5rem;
}
header, main {
	max-width: var(--width-base);
	margin: auto;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	font-size: 1rem;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 1rem;
}
