header, article {
	max-width: var(--width-base);
	margin: auto;
}
article {
  line-height: 1.8rem;
}
h1 {
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}
footer {
	text-align: right;
}
strong {
	font-weight: normal;
	border-radius: 1em 0 1em 0;
	text-shadow: 1px 1px 1px #fff;
	background-image: linear-gradient(
		-100deg,
		rgba(255, 250, 150, 0.15),
		rgba(255, 250, 150, 0.8) 100%,
		rgba(255, 250, 150, 0.25)
	);
}
@media (prefers-color-scheme: dark) {
	strong {
		border-radius: 0 0 10px 10px;
		text-shadow: none;
		background-image: none;
		background: linear-gradient(0deg, rgba(255, 255, 0, 0.4) 50%, transparent 50%);
	}
}
blockquote {
	border-width: 0 0 0 1px;
	border-style: solid;
	color: var(--color-text);
	margin: 0;
	padding: 0 0 0 1rem;
}
img {
	width: 100%;
}
a {
	color: var(--color-link);
}
a:visited {
	color: var(--color-text);
}
