:root {
	--type-base: 18px;
	--width-base: 500px;
	--color-text: #333;
	--color-background: #fff;
	--color-link: #0074d9;
}
@media (min-width: 50em) {
	:root {
		--type-base: 24px;
		--width-base: 600px;
	}
}
@media (min-width: 100em) {
	:root {
		--type-base: 27px;
		--width-base: 700px;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ddd;
		--color-background: #333;
		--color-link: #ff851b;
	}
}
html {
	font-size: var(--type-base);
}
body {
	font-family: menlo, tahoma, 'Hiragino Sans GB', 'STHeiti', 'WenQuanYi Micro Hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53,
		simsun, sans-serif;
	background-color: var(--color-background);
	line-height: 1.5rem;
	margin: 1rem;
}
header, main {
	max-width: var(--width-base);
	margin: auto;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	font-size: 1rem;
}
h1 {
	color: var(--color-text);
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.avatar {
  width: 100%;
  box-shadow: 0px 10px 20px hsla(0, 0%, 0%, .15), 0px 3px 6px hsla(0, 0%, 0%, .10);
}
@media (prefers-color-scheme: dark) {
  .avatar {
    box-shadow: 0px 10px 20px hsla(360, 100%, 100%, .15), 0px 3px 6px hsla(360, 100%, 100%, .10);
  }
}
